body {
  font-family: "Poppins", sans-serif;
  margin: 50px 50px 0 50px;
  background-color: #faf9f6;
  display: flex;
  flex-direction: column;
  min-height: 95vh;
}
.main {
  flex: 1;
}

.main-card {
  display: flex;
  gap: 100px;
}

span {
  color: midnightblue;
}

h1 {
  font-size: 5rem;
}

footer {
  text-align: right;
  color: midnightblue;
}

.left {
  float: left;
}

.right {
  float: right;
}

.tile-image {
  width: 300px;
  margin-right: 50px;
  float: left;
}

@media (max-width:430px) {

  .logo {
      width: 30%;
  }

  .title-text {
    text-align: center;
  }

  .title-text h1 {
    font-size: 60px;
  }

  .main-card {
    display: flex;
    flex-direction: column;
  }

  .main-card img {
    width: 100%;
    margin-bottom: 10px;
  }

}
